# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/
.venv/

# Environment variables / secrets
*.env
config/settings.yaml

# OS files
.DS_Store

# Logs
*.log

# Python egg files
*.egg
*.egg-info/
dist/